@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);
@import url(https://fonts.googleapis.com/css?family=Martel+Sans&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: #000;
  background: red;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  opacity: .85;
  background: linear-gradient(to right, #6f34dd, #60dbe4);
  z-index: 10;
  user-select: none;
}

.logo-text {
  margin-left: 15px;
  margin-right: 2%;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}

.logo {
  background-position: center;
  background-repeat: no-repeat;
}

.logo--small {
  width: 50px;
  height: 50px;
}

.logo--medium {
  width: 200px;
  height: 200px;
}

.logo--large {
  width: 450px;
  height: 450px;
}

.logo--animated-fade {
  animation: fade 3s ease-out infinite;
}

.logo--animated-film {
  animation: film 2s ease-in-out infinite alternate;
}

.logo-text > span {
  font-family: Muli, sans-serif;
  font-size: 2em;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  width: 100%;
}

nav > .nav {
  margin-top: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

#link-about {
  font-family: Muli, sans-serif;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  color: #fbff00;
}

#link-about:hover {
  text-decoration: underline;
}

.links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 250px;
  padding: 20px 15px;
  border: #3d3b28 double 10px;
  background-color: #fff;
}

.links:hover {
  border-color: #a8d30e;
}

.links img {
  width: 200px;
}

main {
  width: 100%;
}

.main-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 150px;
  background: linear-gradient(to right, #dd2727, #60a9e4, #b4da2b);
}

.main-2 {
  background: linear-gradient(to right, #3850b8, #60cfa5);
}

.main-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 65%), linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 65%), linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 65%);
}

.main-text {
  font-family: monospace;
  font-size: 5em;
  text-align: center;
  z-index: 1;
  text-shadow: #0055ff 8px 8px;
  color: #fff;
}

.main-text:last-child {
  margin-bottom: 20px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 58.5px 15%;
  font-family: 'Martel Sans', sans-serif;
  font-size: 1.8em;
  text-shadow: #0a9300 2px 2px;
}

.text > h1 {
  text-align: center;
  color: #257cdf;
}

.text > p {
  width: 100%;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fbff00;
}

.text > span {
  text-align: center;
}

.text a {
  color: #fff;
  text-shadow: #000 2px 2px;
}

.text > p:nth-child(n) {
  border-left: 7px solid #fbff00;
}

.text > p:nth-child(2n) {
  border-left: 7px solid #0055ff;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  background: linear-gradient(to right, #d6b136 35%, #dd3636 75%);
  user-select: none;
}

.footer {
  margin-right: 5%;
}

.footer > span {
  font-family: Muli, sans-serif;
  font-size: 24px;
  color: #fbff00;
}

@keyframes fade {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes film {
  0% {
    transform: translate(-200%);
  }
  100% {
    transform: translate(200%);
  }
}

@media(max-width:1300px) {
  .main-text {
    font-size: 3em
  }

  .logo-wrap {
    margin-top: 150px;
  }

  .logo--medium {
    width: 100px;
    height: 100px;
  }

  .logo--large {
    width: 250px;
    height: 250px;
  }

  .text {
    font-size: 1.5em
  }

  nav {
    padding-top: 20px
  }

  .links {
    width: 200px
  }

  .links img {
    width: 150px;
  }

  .main-2,
  .main-3 {
    height: auto
  }

  .main-1 {
    padding: 100px 0
  }

  .main-text:last-child {
    margin-bottom: 50px;
  }

  .footer > span {
    font-size: 1em;
  }
}

@media(max-width:480px) {
  nav > .nav {
    flex-direction: column;
    align-items: center;
    margin: 0
  }
}
