<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../img/favicon2.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./utils/style.css" />
    <title>Earrings v2.0</title>
  </head>

  <body class="hidden">
    <section class="preloader">
      <div class="dual-ring"></div>
    </section>
    
    <header class="header">
      <a href=".." class="logo">
        <img src="../img/pics/icon-512x512.png" alt="KT Logo">
      </a>

      <h1 class="title-doc" title="Version control">Earrings version 2000</h1>

      <nav class="header__nav">
        <section class="theme">
          <h2>Light</h2>

          <label class="switch" title="Switch theme color">
            <input type="checkbox">
            <span></span> 
          </label>
          
          <h2>Dark</h2>
        </section>
      </nav>
    </header>

    <main class="main">
      <section class="field">
        <!-- 1 -->
        <section class="up start">
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
        </section>
        <!-- 2 -->
        <section class="down">
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
        </section>
      </section>
      
      <section class="field">
        <!-- 1 -->
        <section class="up start">
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
        </section>
        <!-- 2 -->
        <section class="down">
          <div class="row">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
        </section>
      </section>
      <!-- ---------- -->
      <section class="vertical">
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
        <span class="bicer bicer--indicator"></span>
      </section>
      
      <section class="counts">
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
        <div class="count">0000000</div>
      </section>

      <section class="description" style="display: none;">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
        <input type="text" class="digits" placeholder="type color" maxlength="7">
      </section>

      <section class="tools1">
        <input type="color" class="color" title="Pick a color" />
        <img src="../img/tools/tool1.png" class="drawAllButton" title="Draw all bricks" />
        <img src="../img/tools/tool2.png" class="colorView" title="View a color" />
        <img src="../img/tools/tool3.png" class="drawButton" title="Draw a brick" />
        <img src="../img/tools/tool4.png" class="clearButton" title="Clear a brick" />
        <label>
          <img src="../img/tools/switch-power.png" class="amountButton" title="ON | OFF 2 Earrings" />
          <input type="checkbox" class="amount" checked>
        </label>
        <label>
          <img src="../img/tools/switch-letter.png" class="patternButton" title="ON | OFF Pattern view">
          <input type="checkbox" class="pattern">
        </label>
      </section>

      <section class="tools2">
        <section class="block">
          <span class="nameWidth">Width</span>
          <input type="number" class="width" value="13" min="2" max="60" />
        </section>

        <section class="block">
          <span class="nameLength">Length</span>
          <input type="number" class="length" value="40" min="0" max="150" />
        </section>

        <section class="block">
          <span class="nameStep">Step</span>
          <input type="number" class="step" value="0" min="0" max="10" />
        </section>
      </section>

      <section class="menu-file">
        <div class="fileSave">Save as...</div>
        <div class="fileLoad">Open file</div>
        <input
          type="file"
          class="fileLoadHide"
          accept=".json"
          style="display: none"
        />
        <a href="" class="linkForSavingFile" style="display: none"></a>
      </section>

      <section class="menu-file">
        <div class="fileSaveJSON" style="display: none">JSON</div>
        <div class="fileSavePDF" style="display: none">PDF</div>
      </section>

      <div class="move-up invisible">
        <img src="../img/tools/up-arrow2.png" alt="Up">
      </div>
    </main>

    <script defer src="../utils/preloader.js"></script>
    <script defer src="./utils/app.js"></script>
  </body>
</html>
