<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <title>Earrings v10.0</title>
</head>

<body>
    <div class="title-doc">
        Earrings version 10
        <a href="../beads-multi-tool.html">Home Page</a>
    </div>
    <main>
        <div class="field">
            <!-- 1 -->
            <div class="up start">
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
                <div class="range last">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                    <input type="button" class="bicer">
                </div>
            </div>
            <!-- 2 -->
            <div class="range two">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
            </div>
            <div class="range two">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
            </div>
            <div class="range two">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
            </div>
            <div class="range two">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
            </div>
            <div class="range two">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
            </div>
            <div class="range two">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
            </div>
            <div class="range two">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
                <input type="button" class="bicer">
            </div>
            <div class="range two">

            </div>
            <div class="range two special123">
                <input type="button" class="bicer">
            </div>
        </div>
        <!-- ------------------------------------------------------------ -->
        <div class="vertical">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
            <input type="button" class="bicer indicator">
        </div>
        <div class="tools1">
            <input type="color" id="color">
            <img src="../img/tools/tool1.png" id="drawAllButton" width="50" height="50">
            <img src="../img/tools/tool2.png" id="colorView" width="50" height="50">
            <img src="../img/tools/tool3.png" id="drawButton" width="50" height="50">
            <img src="../img/tools/tool4.png" id="clearButton" width="50" height="50">
        </div>
        <div class="tools1">
            <input type="button" id="fileSave" value="Save as...">
            <input type="button" id="fileLoad" value="Open file">
            <input type="file" id="fileLoadHide" accept=".json" style="display: none;">
            <a href="" id="linkForSavingFile" style="display: none;"></a>
        </div>
        <div class="tools1 last">
            <input type="button" id="fileSaveJSON" value="JSON" style="display: none;"> 
            <input type="button" id="fileSavePDF" value="PDF" style="display: none;">
        </div>
        <div class="tools2">
            <span id="nameWidth">width</span><input type="number" id="width" value="15">
        </div>
    </main>
    
    <script src="./app.js"></script>
</body>

</html>