<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../img/favicon2.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./utils/style.css" />
    <title>Earrings v2.0</title>
  </head>

  <body>
    <header class="title-doc">
      Earrings version 2
      <a href="../beads-multi-tool.html">Home Page</a>
      <label class="switch">
        <input type="checkbox">
        <span></span> 
      </label>
    </header>
    <main>
      <div class="field">
        <!-- 1 -->
        <div class="up start">
          <div class="range last">
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="range last">
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="range last">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="range last">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="range last">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="range last">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="range last">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="range last">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="range last">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="range last">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="range last">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
          <div class="range last">
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
            <span class="bicer"></span>
          </div>
        </div>
        <!-- 2 -->
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
        <div class="range two">
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
          <span class="bicer"></span>
        </div>
      </div>
      <!-- ------------------------------------------------------------ -->
      <div class="vertical">
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
        <span class="bicer indicator"></span>
      </div>
      <div class="tools1">
        <input type="color" class="color" />
        <img src="../img/tools/tool1.png" class="drawAllButton" />
        <img src="../img/tools/tool2.png" class="colorView" />
        <img src="../img/tools/tool3.png" class="drawButton" />
        <img src="../img/tools/tool4.png" class="clearButton" />
      </div>
      <div class="tools1">
        <div class="fileSave">Save as...</div>
        <div class="fileLoad">Open file</div>
        <input
          type="file"
          class="fileLoadHide"
          accept=".json"
          style="display: none"
        />
        <a href="" class="linkForSavingFile" style="display: none"></a>
      </div>
      <div class="tools1 last">
        <div class="fileSaveJSON" style="display: none">JSON</div>
        <div class="fileSavePDF" style="display: none">PDF</div>
      </div>
      <div class="tools2">
        <span class="nameWidth">width</span>
        <input type="number" class="width" value="13" />
      </div>
      <div class="move-up invisible">
        <img src="../img/tools/up-arrow2.png" alt="Up">
      </div>
    </main>

    <script src="./utils/app.js"></script>
  </body>
</html>
